body,
html {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	padding: 20px;
	border-radius: 10px;
}

.inputstring {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 18px;
	color: magenta;
	outline: none;
	text-transform: uppercase;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	background-color: #fff;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	outline: none;
}
.blue {
	background-color: blue;
	/* cursor: not-allowed;
	pointer-events: none; */
}
.green {
	background-color: green;
}
.outputs {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#encrypt-input {
	text-transform: uppercase;
	font-size: 20px;
	color: #cc4e7a;
}
.encrypt-description {
	width: 300px;
	overflow-wrap: break-word;
}
#encrypt-output {
	text-transform: uppercase;
	font-size: 20px;
	color: #547d47;
	margin-top: 10px;
}
